[project]
name = "posting"
version = "1.0.0b1"
description = "A powerful HTTP client that runs in the terminal."
authors = [
    { name = "Darren Burns", email = "darrenb900@gmail.com" }
]
dependencies = [
    "click>=8.1.7",
    "xdg-base-dirs>=6.0.1",
    "click-default-group>=1.2.4",
    "httpx>=0.27.0",
    "textual-autocomplete>=3.0.0a2",
    "pyperclip>=1.8.2",
    "textual[syntax]>=0.66.0",
]
readme = "README.md"
requires-python = ">= 3.11"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project.scripts]
posting = "posting.__main__:cli"

[tool.rye]
managed = true
dev-dependencies = [
    "textual-dev>=1.5.1",
]

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/posting"]
