
@font-face {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap format("truetype");
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: 550;
}

body {
    background-image: linear-gradient(
        0deg,
        hsl(272deg 33% 11%) 0%,
        hsl(276deg 30% 9%) 31%,
        hsl(279deg 29% 7%) 55%,
        hsl(282deg 24% 4%) 71%,
        hsl(313deg 30% 7%) 82%,
        hsl(307deg 47% 17%) 89%,
        hsl(305deg 62% 26%) 93%,
        hsl(304deg 80% 33%) 96%,
        hsl(311deg 94% 38%) 98%,
        hsl(318deg 98% 42%) 99%,
        hsl(324deg 100% 46%) 100%,
        hsl(329deg 100% 50%) 100%
      );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.md-header{position:initial;background-color: rgba(0,0,0,0);}
.md-header--shadow {
  box-shadow: none;
}
.md-content {
    background-color: rgba(0,0,0,0);
}

a.posting-button {
    color: whitesmoke;
    padding: 0.7rem 1.4rem;
    background-color: hsl(287deg 100% 10%);
    border: 3px solid hsl(287deg 100% 30%);
    border-radius: 2px;
    font-family: "Roboto Mono", monospace;
    
    &:hover {
        color: whitesmoke;
        font-weight: 600;
        border: 3px solid rgba(255, 100, 203, 1);
    }
}

:root {

}