.section {
    border: heavy $accent 60%;
    border-title-color: $text;
    border-title-background: $accent 60%;
    border-title-align: right;
    
    &:focus-within {
        border: heavy $accent 100%;
        border-title-color: $text;
        border-title-background: $accent 60%;
        border-title-style: b;
    }
}

Footer {
    border: none;
    margin: 0 2 1 2;
    background: transparent;
    & FooterKey {
        background: transparent;
        .footer-key--key {
          background: transparent;
        }
    }
}

ContentTab {
    padding: 0 1;
    height: 1;
}

Tabs {
    height: 2;
}

Tabs #tabs-list {
    width: auto;
    min-height: 1;
 }

TabPane {
    padding: 0;
}